<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% for message in messages %}
        <h1> {{message}} </h1>
    {% endfor %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for input in form.visible_fields %}
        <div>
            <label for="{{input.id_for_label}}">{{input.label}}</label>
            {{input}}
        </div>
        {% endfor %}
        <button type="submit">Logar</button>
    </form>
</body>
</html>