.card {
    display: grid;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-left: 32px;
    padding: 16px;
    border-radius: 10px 10px 0px 0px;
    
}
.card img{
    width: 150px;
    border-radius: 100%;
}

.frontend .card {
    background: linear-gradient(to bottom, #82CFFA 0, #82CFFA 90px, white 90px, white 100%);
}
.uxdesign .card {
    background: linear-gradient(to bottom, #DB6EBF 0, #DB6EBF 90px, white 90px, white 100%);
}
.programação .card {
    
    background: linear-gradient(to bottom, #57C278 0, #57C278 90px, white 90px, white 100%);
}
