body {
    margin: 0;
}
header > h1 {
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: sans-serif;
    background-color: #F55A5A;
    height: 100px;
    margin: 0;
}

header img {
    width: 60px;
    padding-right: 16px;
}