#root {
    width: 50%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav__ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 8px;
}

.main__ul {
    list-style-type: none;
    margin-top: 64px;
    min-width: 200px;
}

.main__ul > li::before {
    margin-right: 10px;
    content: "\2022";
    color: aqua;
}

header {
    background-color: #21222A;
    color: white;
    width: 100%;
    margin: 0;
}

main {
    background-color: #282D35;
    color: white;
    margin: 0;
    height: 400px;
    display: grid;
    grid-template-rows: 150px 200px;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
}

h1 {
    margin: 0;
    margin-left: 32px;
    margin-top: 32px;
}