nav {
    grid-area: nav;
    max-width: 250px;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

@media screen and (max-width: 1154px) {
    nav {
        display: none;
    }
}