@media screen and (min-width: 1024px) {

    .footer {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        justify-content: space-around;
    }

    .footer-h1 {
        justify-self: center;
        margin-left: 32px;
        font-size: 1.8em;
    }

    .footer-table, .footer-h1 {
        margin-top: 64px;
    }

    .footer-table td,th {
        border-left-width: 2px;
        border-style: solid;
        border-color: gray;
        font-family: poppins, sans-serif;
        padding: 16px;
        font-size: 1.2em;
    }

    .footer-table img {
        padding: 0 16px 0 0;
    }


    .footer-table th {
        color: gray;
        font-size: 1.4em;
    }

}