@media screen and (min-width: 1024px) {

     /* SECTIONS 1 E 2 ======================================================= */

    .main-h1_1_pc {
        display: block;
        text-align: center;
        font-size: 1.6em;
        text-transform: uppercase;
        color: var(--orange);
        margin-top: 32px;
        font-weight: 900;
    }

    .div-sec1e2 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 64px;
    }

    .main-section_1-h1 {
        display: none;
    }

    .main-section_2 {
        height: 300px;
        margin-left: 120px;
    }

    /* SECTIONS 3 E 4 ======================================================= */

    .main-h1_2_pc {
        display: block;
        text-align: center;
        font-size: 1.6em;
        text-transform: uppercase;
        color: var(--orange);
        margin-top: 128px;
        font-weight: 900;
    }

    .div-sec3e4 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 64px;
    }

    .main-section_3-h1 {
        display: none;
    }

    .main-section_4 {
        height: 300px;
        margin-left: 120px;
    }

    /* ASIDE ============================================== */

    .aside-div_1-h1 {
        font-size: 1.8em;
    }

    .aside-div_1-span {
        width: 50%;
        margin: 32px auto;
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: 1fr 1fr;

    }

    .aside-div_1-a {
        width: 150px;
        font-family: Poppins, sans-serif;
        text-align: center;
        text-decoration: none;
        height: 75px;
        background-color: #EB9B00;
        color: white;
        border: none;
        font-size: 1.5em;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .aside-div_2 {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .aside-div_2-h1 {
        align-self: end;
    }
    .aside-div_2-p {
        align-self: start;
    }

    .aside-div_2-input {
        grid-row: 1 / 3;
        grid-column: 2 / 2;
        align-self: center;
        width: 400px;
        border-style: solid;
        border-color: var(--darkbluegradient);
    }
}