.cards_section {
    display: grid;
    justify-content: center;
    position: relative;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
}

.cards_section > h1 {
    justify-self: center;    
}

.cards_container h3 {
    justify-self: center;
    font-size: 24px;
}

.cards_container p {
    justify-self: center;
    font-family: sans-serif;
}

.input_cor {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 50px;
    height: 20px;
}