body {
    background-color: rgb(24, 24, 40);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 
    "navbar main"
    "navbar main"
    ;
}