/* DECLARAÇÕES ===================== */
:root {
    --darkblue: #002F52;
    --deepdarkblue: #233453;
    --orange: #EB9B00;
    --smoothrose: #EBECEE;
    --stripedblue: repeating-linear-gradient(90deg, #012e51f2 0, #012F51f2 24px, #233453 24px, #233453 120px);
    --stripedsrose: repeating-linear-gradient(90deg, #FFFFFF 0, #FFFFFF 24px, #EDD4D6 24px, #EDD4D6 120px);
    --stripedrose: repeating-linear-gradient(90deg, #FFFFFF 0, #FFFFFF 24px, #FBC9C9 24px, #FBC9C9 120px);
    --darkbluegradient: linear-gradient(to right, #002F52 0, #002F52bf 100%);
}

@font-face {
    font-family: Poppins;
    src: url(_font/Poppins/Poppins-Regular.ttf);
}

h1,h2,li,p {
    font-family: Poppins, sans-serif;
}

strong {
    font-weight: 900;
 }
/* DECLARAÇÕES ===================== */


/* HEADER ======================== */
 header.header {
} 

div.header-div {
    width: 100%;
    height: 80px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

span.header-div-span {
    display: flex;
    align-items: center;
    height: 80px;
}

span.header-div-span_1 {
    justify-content: flex-start;
}

input.header-div-span-input {
    display: none;
}

label.header-div-span-label {
   width: 80px;
    height: 80px;
    display: inline-block;
    align-self: flex-start;
    display: grid;
}

input.header-div-span-input:checked ~ label.header-div-span-label {
    background: var(--darkbluegradient);
}

a.header-div-span_1-a_2 {
    padding-left: 16px;
}

span.header-div-span_2 {
    justify-content: flex-end;
    padding-right: 16px;
}

/* a.header-div-span-a {

} */

img.header-div-span_1-label-img_1 {
    align-self: center;
    justify-self: center;
}

img.header-div-span-a-img, img.header-div-span-label-img {
    display: inline-block;
}

/* > NAV ------------------------- */
nav.header-nav {
    background-color: white;
    padding: 16px;
    width: 60%;
    margin-top: 0;
    position:absolute;
    display: none;
}

/* ul.header-nav-ul {

} */

li.header-nav-ul-li {
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 24px;
    background: var(--darkbluegradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

li.header-nav-ul-li:first-child {
    color: var(--orange);
    font-weight: 700;
    text-transform: none;
    padding-bottom: 8px;
    padding-top: 8px;
}
/* > NAV ------------------------- */

aside.header-aside {
    background: var(--darkbluegradient);
    height: 250px;
}

h1.header-aside-h1 {
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    padding: 60px 0 20px 0;
}

p.header-aside-p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    padding: 0 0 20px 0;
}

form.header-aside-form {
    text-align: center;
    padding: 20px 0 0 0;
}

input.header-aside-form-input {
    border: 1px solid white;
    border-radius: 24px;
    background-color: transparent;
    padding: 10px 24px;
    width: 300px;
    color: white;
}

input.header-aside-form-input::placeholder {
    text-align: center;
    color: white;
    background-image: url(../_assets/_img/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    background-size: 20px;
}

input.header-aside-form-input::-webkit-search-cancel-button {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: linear-gradient(50deg, transparent 0, transparent 40%, #FFFFFF 40%, #FFFFFF 50%, transparent 50%, transparent 100%), linear-gradient(130deg, transparent 0, transparent 40%, #FFFFFF 40%, #FFFFFF 50%, transparent 50%, transparent 100%);
    cursor: pointer;
}

/* HEADER ======================== */

/* MAIN ========================== */
/* > Section_1 ------------------- */

/* .main-section_1 {

} */

.main-section_1-h1 {
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: var(--orange);
    margin-top: 32px;
    font-weight: 900;
}

.main-section_1-ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-section_1-ul-li {
    color: #C4C4C4;
}

.main-section_1-ul-li:hover {
    cursor: pointer;
}

.main-section_1-ul-li::before {
    content:'\00b7';
    font-size: 5em;
}

.main-section_1-div{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.main-button {
    width: 30px;
    height: 350px;
    border: none;
    background-color: rgb(128, 128, 128);
    opacity: 0.4;
    border-radius: 2em 0 0 2em/ 2em 0 0 2em;
}

.main-button_1::before {
    content: '<';
    font-size: 2em;
}

.main-button_1 {
    z-index: 1;
}

.main-section_1-div-div {
    display: flex;
    overflow-x: hidden;
    width: 600px;
    margin: 0 auto;
    position: relative;
    margin: 0 0px;
}

.main-section_1-div-div::-webkit-scrollbar {
    display: none;
}

.main-button_2 {
    z-index:1;
}

.main-button_2::before {
    content: '>';
    font-size: 2em;
}
/* > Section_1 ------------------- */
/* > Section_2 ------------------- */
.main-section_2 {
    display: flex;
    margin-top: 30px;
    padding: 30px 10px 30px 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}


.main-section_2-h1 {
    font-size: 1.2em;
    color: var(--orange);
    font-weight: 900;
    margin-bottom: 20px;
}

.main-section_2-h2 {
    font-size: 1.6em;
    font-weight: 900;
    color: var(--darkblue);
    margin-bottom: 16px;

}

.main-section_2-p {
    margin-bottom: 16px;
    line-height: 1em;
    font-size: 1.2em;
}

/* .main-section_2-span {

} */

/* .main-section_2-span-img {
    
} */

.main-section_2-div_1 {
    margin: 10px auto;
}

.main-section_2-span_1 {
    display: flex;
    flex-direction: column;
}
.main-section_2-span_2 {
    display: flex;
}

.main-section_2-div_2 {
    margin: 10px 20px;
}

.main-section_2-div-img {
    display: inline-block;
    transform: scale(1.2);
}

.main-section_2-div-button {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: -20px;
    background-color: #EB9B00;
    color: white;
    border: none;
    font-size: 1.1em;
    font-weight: 700;
}
/* > Section_2 ------------------- */
/* > Section_3 ------------------- */
.main-section_3-h1 {
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    color: var(--orange);
    margin-top: 64px;
    font-weight: 900;
}

.main-section_3-ul {
    display: flex;
    justify-content: center;
}

.main-section_3-ul-li {
    color: #C4C4C4;
}

.main-section_3-ul-li:hover {
    cursor: pointer;
}

.main-section_3-ul-li::before {
    content:'\00b7';
    font-size: 5em;
}

.main-section_3-div{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.main-section_3-div-div {
    display: flex;
    overflow-x: hidden;
    width: 600px;
    margin: 0 auto;
    position: relative;
    margin: 0 0px;
}
/* > Section_3 ------------------- */
/* > Section_4 ------------------- */
.main-section_4 {
    display: flex;
    margin-top: 30px;
    padding: 30px 10px 30px 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}


.main-section_4-h1 {
    font-size: 1.2em;
    color: var(--orange);
    font-weight: 900;
    margin-bottom: 20px;
}

.main-section_4-h2 {
    font-size: 1.6em;
    font-weight: 900;
    color: var(--darkblue);
    margin-bottom: 16px;

}

.main-section_4-p {
    margin-bottom: 16px;
    line-height: 1em;
    font-size: 1.2em;
}

/* .main-section_4-span {

} */

/* .main-section_4-span-img {
    
} */

.main-section_4-div_1 {
    margin: 10px auto;
}

.main-section_4-div_2 {
    margin: 10px 20px;
}

.main-section_4-div-img {
    display: inline-block;
    transform: scale(1.2);
}

.main-section_4-div-button {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: -20px;
    background-color: #EB9B00;
    color: white;
    border: none;
    font-size: 1.1em;
    font-weight: 700;
}
/* > Section_4 ------------------- */
/* > Aside_1 ------------------- */
.aside {
    margin-top: 32px;
}

.aside-div_1 {
    width: 100vw;
    height: 300px;
    background: var(--darkbluegradient);
}

    .aside-div_1-h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 100;
        text-align: center;
        padding-top: 32px;
    }

    .aside-div_1-span {
        display: flex;
        margin-top: 32px;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        
    }
        .aside-div_1-a {
            width: 100px;
            font-family: Poppins, sans-serif;
            text-align: center;
            text-decoration: none;
            height: 50px;
            background-color: #EB9B00;
            color: white;
            border: none;
            font-size: 1em;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

.aside-div_2 {
    display: grid;
    justify-content: center;
}
    .aside-div_2-h1 {
        color:#002F52;
        font-weight: 700;
        font-size: 1.4em;
        padding: 16px;
    }
    
    .aside-div_2-p {
        color:#002F52;
        font-weight: 100;
        font-size: 1.1em;
        padding: 16px;
    }

    .aside-div_2-input {
        border-radius: 24px;
        width: 300px;
        height: 30px;
        padding: 10px 24px;
        color:#002F52;
        font-weight: 100;
        font-size: 1.2em;
        margin-top: 16px;
        border-style: solid;
        border-color: var(--darkbluegradient);
    }

    .aside-div_2-input::placeholder {
        color:#002F52;
        background-image: url(../_assets/_img/Email.svg);
        background-repeat: no-repeat;
        background-position: 0, 1px;
        text-indent: 40px;
    }
/* > Aside_1 ------------------- */
/* MAIN ========================== */

/* FOOTER ======================== */
.footer {
    border-top: 1px solid black;
    margin-top: 32px;
}

.footer-h1 {
    font-size: 1.5em;
    padding: 16px;
}
/* FOOTER ======================== */

/*DISPLAY NONE =================================================== */
 @media screen and (max-width: 1024px) {
    span.header-div-span_middle {
        display: none 
     }

     span.header-div-span_middle>h1 {
        display: none;
    }

    a.header-div-span-a > p{
        display: none;
    }

    span.header-div-span_3 {
        display: none;
    }

    .main-h1_1_pc {
        display: none;
    }

    .main-h1_2_pc {
        display: none;
    }

    .footer-table  {
        display: none;
    }
 }
/*DISPLAY NONE =================================================== */
