.banner {
    grid-area: banner;
    margin-left: 64px;
    position: relative;
    justify-self: end;
    margin-top: 32px;
    width: 95%;

    p {
        position: absolute;
        color: white;
        font-size: 48px;
        margin-left: 24px;
        width: auto;

        overflow: hidden;
        animation: texto_banner 7s both ease-out, piscar_banner forwards 0.75s infinite;
    }

    img {
        max-width: 100%;
        width: 100%;
        min-width: 400px;
        border-radius: 32px;
        height: 300px;
    }
}

@keyframes texto_banner {
    0% {
        width: 1px;
        white-space: nowrap;
    }

    66% {
        width: 80%;
        
        
    }

    100% {
        white-space: wrap;
        width: auto;
    }
}

@keyframes piscar_banner {
    0% {
        border-right: none;
    }

    100% {
        border-right: 2px solid white;
    }
}

@media screen and (max-width: 1154px) {
    .banner > img {
        grid-column: 1 / 4;
        width: 100%;
        min-width: 50px;
    }
}