@import "../../Styles/variaveis";
@import "../../Styles/breakpoints";

.footer {
  background-color: $red;
  display: flex;
  justify-content: flex-end;
  padding: 10px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
  padding: 10px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
  padding: 10px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
  padding: 10px $padding-horizontal-md;
  }
}