h1,h2,h3,p,span,a,li,ul,button,div {
    font-family: sans-serif;   
}

body {
    background-color: #e4e4e4;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 8px;
}