main {
    grid-area: main;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main  h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color:white;
    margin: 48px 32px 32px 32px;
}

/* GRID DO VIDEO  ------------------------------------ */
.video {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0 16px;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(156, 156, 156, 0.315);
}

.video img:nth-of-type(1) {
    grid-row: 1 / 4;
    align-self: center;
    width: 80px;
    width: inherit;
    
}

.video img:nth-of-type(2) {
    grid-row: 1 / 4;
    align-self: center;
    width: inherit;
    justify-self: center;
}

.video h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: block;
    width: inherit;
}

.video p {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;
    width: inherit;
    }

.video progress {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    height: 8px;
    width: inherit;
}

/* GRID DAS SECÇÕES ------------------------------------ */

.video__container {
    display: grid;
    width: 85vw;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(160px, max(
        calc((100% / 4.5) - 12vw), calc((100% / 4.3))
    )));
    gap: 16px;
    justify-content: start;
}



/* SECÇÃO 2 -------------------------------------------- */

.main__content {
    display: flex;
    flex-wrap: wrap;
}

.video2 {
    background-color: rgba(156, 156, 156, 0.315);
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin: 0 16px;
    text-align: center;
}

.video2 h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: white;
    padding: 4px 0;
}

.video2 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;
}