@import url(nav.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

:root {
    --bgcor: linear-gradient(180deg, #154580 0%, #041833 100%);
    --bgnav:  #041833c0;
}

h1,h2,h3,p,span,a,li,ul,button,div {
    font-family: sans-serif;
}

body {
    background: var(--bgcor) no-repeat;
    height: 100vh;
}

.nav__main {
    display: grid;
    grid-template-areas: 
    "nav main"
    ;
    grid-template-columns: minmax(200px, 12vw) 1fr;
    grid-template-rows: 100vh;
}

@media screen and (max-width: 1024px) {
    main {
        grid-column: span 2;
    }
}