@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

.sobreNos {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;

    &__texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: justify;

        p {
            font-family: 'Josefin Sans', sans-serif;
        }
    }
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    &__imagem {
        width: 600px;

        img {
            border-radius: 5px;
            width: 100%;
        }
    }
}