main {
    background-color: #282D35;
    color: #DEEBF8;

    width: 600px;
    height: 300px;
    margin: auto;
    padding: 32px;
    position: relative;

    font-family: 'Inter', sans-serif;
}

main > h1 {
    margin: 0;
    color: white;
    text-align: left;

    font-weight: 700;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;
}

main > ul {
    list-style-type: none;
    text-align: left;
    margin-left: -16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

main > ul li {
    padding: 8px;
}

main > ul li::before {
    content: '\2022';
    color: #61DAFB;
    margin-right: 16px;
}

main > img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}