main {
    margin: 32px 0 32px 0;

}

.videos__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.videos__item {
    width: 90vw;
    height: 70vw;
    padding: 25px;
    flex-grow: 1;
}

.descricao-video {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    padding-top: 16px;

}

.descricao-video h3 {
    color: black;
    padding-bottom: 4px;
}

.descricao-video img {
    grid-row: 1 / 3;
    padding-right: 12px;
}

@media screen and (min-width: 1024px) {
    .videos__item {
        width: 100%;
        height: 350px;
        padding: 25px;
        flex-grow: 1;
    }

    .videos__container {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 0 32px;
    }

    body {
        display: grid;
        grid-template-columns: 19% 81%;
        grid-template-rows: 120px 100vh;
    }

    aside {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    .div__header-nav-main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: center;
    }

    .div__header {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        position: fixed;
    }

    .header__menu {
        width: 81vw;
        margin-left: 19vw;
    }

}

