main {
    margin: 32px 0 32px 0;

}

.videos__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.videos__item {
    width: 90vw;
    height: 70vw;
    padding: 25px;
}

.descricao-video {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    padding-top: 16px;

}

.descricao-video h3 {
    color: black;
    padding-bottom: 4px;
}

.descricao-video img {
    grid-row: 1 / 3;
    padding-right: 12px;
}

@media screen and (min-width: 1024px) {
    .videos__item {
        width: 27%;
        height: 20vw;
        padding: 25px;
    }

    body {
        display: grid;
        grid-template-columns: 19% 81%;
        grid-template-rows: 120px 100vh;
    }

    aside {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    .div__header-nav-main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .div__header {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        position: fixed;
    }

    .header__menu {
        width: 81vw;
        margin-left: 19vw;
    }

}

