.tarefas {
    grid-row: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    
    padding-top: 8px;
    width: 200px;

    background-color: lightgray;
    border-left: 2px solid black;
    border-radius: 0px 24px 24px 0px;
    font-family: sans-serif;
}

.tarefa {
    background-color: gray;
    border: 2px solid transparent;

    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-rows: 30px 30px;

    margin: 8px;
    width: 130px;
    height: 60px;
    padding: 16px;

    margin-left: 0px;
    &:hover {
        cursor: pointer;
    }
}

.tarefaselecionado {
    @extend .tarefa;
    background-color: rgb(74, 74, 74);
    border: 2px solid black;

}