nav {
    background: var(--bgnav);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 64px;
}

.nav__parte1 {
    display: grid;
    grid-template-rows: 64px;
    align-items: center;

}

.parte1__ul {
    display: flex;
    justify-content: space-between;
    
}

.parte1__ul > li {
    transform: scale(1.4);
    padding: 12px 2px;
    border-radius: 16px;
    white-space: nowrap;
    margin: 0 32px;
}

.parte1__ul > li:hover {
    cursor: pointer;
    background-color: #154580;
}

nav li {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__parte2, .nav__logo {
    display: none;
}

@media screen and (min-width: 1024px){

    .nav__parte2, .nav__logo {
        display: block;
    }

    nav {
        left: 0;
        height: 100vh;
        width: 12vw;
        min-width: 200px;
        
    }
    
    .nav__parte1, .nav__parte2 {
        display: grid;
        justify-content: center;
        gap: 41px 0;
        margin-top: 36px;
        width: 100%;
    }

    .parte1__ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-self: center;
        justify-content: flex-start;
        gap: 0;
    }

    .parte1__ul > li {
        transform: scale(1);
        font-size: 18px;
        padding: 0 16px;
        margin: 0px;
    }

    nav ul > li {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        height: 40px;
        white-space: nowrap;
        padding: 0 16px;
        border-radius: 8px;
    }

    nav li:hover {
        background-color: #154580;
        cursor: pointer;
    }

    .parte2__ul {
        display: flex;
        flex-direction: column;
    }

    .nav__parte2 {
        gap: 36px 0;
    }

    .nav__parte2 > h2 {
        padding-left: 16px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: white;
    }

}

.nav {
    grid-area: nav;
}