
.card {
    display: inline-block;
    margin: 16px;
    position: relative;
}

.principal {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;

    width: 250px;
    height: 400px;
    padding: 16px;
    z-index: 1;
    position: relative;

    background-color: rgb(50, 50, 60);
    border: 4px solid rgb(60, 60, 100);
    border-radius: 16px;
    transform: rotate(3deg);
    transition: transform .5s;

    &:hover {
        transform:rotate3d(3, -1, 1, 15deg);
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 230px;
    }
    .main {
        color: white;
        font-size: 24px;

        display: grid;

        h1 {
            text-align: center;
            margin: 0;
            margin-top: 16px;
            text-decoration: underline;
            font-size: 24px;
            color: white;
            &:hover {
                cursor: pointer;
            }
        }

        p {
            overflow-y: scroll;
            direction:rtl;
            text-align: left;

            background-color:rgba(40, 40, 50, 0.8);
            font-size: 16px;

            max-height: 40px;
            padding: 8px;
            
            &::-webkit-scrollbar {
                width: 2px;
                background-color: rgb(221, 208, 255);
            }
            &::-webkit-scrollbar-thumb {
                background-color: white;
            }
        }
    }
    .favorito {
        align-self: end;
        justify-self: end;
        z-index: 2;
    }

    .footer {
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: flex-end;
        p {
            z-index: 2;
            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                text-decoration: underline;
                
            }
            & > a {color: white;}
            & > a:visited {color: White;}
        }
    }
    
}

.secundario {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;

    width: 250px;
    height: 400px;
    padding: 16px;
    z-index: 0;
    position: absolute;
    left: 0;
    margin-left: 8px;

    background-color: rgb(50, 50, 60);
    border: 4px solid black;
    border-radius: 16px;
    color: white;

    h1 {
        font-size: 24px;
    }

    p {
            min-height: 130px;
            max-height: 180px;
            overflow-y: scroll;
            direction:rtl;
            background-color:rgba(40, 40, 50, 0.8);
            padding: 8px;
            text-align: left;
            &::-webkit-scrollbar {
                width: 2px;
                background-color: rgb(221, 208, 255);
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgb(5, 5, 5);
            }
    }

    .voltar {
        align-self: end;
        &:hover {
            cursor: pointer;
        }
    }
}

.overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: transparent;
}

.animation {
    animation: pulso .5s
}

@keyframes pulso {
    0% {
      transform: scale(1);  
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}